body {
  background-color: #f5f5f5;
}

.bg-gradient-info {
  background: linear-gradient(87deg, #11cdef, #1171ef) !important;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 25%);
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.nav-link {
  color: #212529;

  &:hover {
    background-color: gray;
    color: white;
  }

  &.active {
    background-color: brown;
    color: white;
  }
}

.iconNav {
  margin-right: 5px;
}
